:root {
  --primary-color: #191919;
  --secondary-color: #00E696;
  --secondary-color-darker: #00B969;
}

html,
body {
  height: 100%;
  color: white;
}

.body-center {
  display: -ms-flexbox;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

body {
  align-items: center;
  background-color: var(--primary-color);
}

nav > div {
  font-size: 2em;
}

h1 {
  color: var(--secondary-color);
}

video[poster]{
  height:100%;
  width:100%;
}

br {
  display: block;
  margin: 10px 0;
  content: " ";
}

.centered {
  max-width: 415px;
  width: 100%;
  margin: auto;
}

.green-text {
  color: var(--secondary-color);
}

.green-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.green-link:hover {
  text-decoration: none;
  color: var(--secondary-color-darker);
}

.button {
  background-color: var(--secondary-color);
}

.button:hover {
  background-color: var(--secondary-color-darker);
}

.about-me {
  max-width: 500px;
  width: 100%;
  margin: auto;  
}

@media (max-width: 550px) {
  .centered {
    max-width: 330px;
  }
  
  h1 {
    font-size: 26px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  .body-center {
    padding-top: 5px;
  }
}