:root {
    --primary-color: #191919;
    --secondary-color: #00E696;
}

html,
body {
  height: 100%;
  color: white;
}

body {
  display: -ms-flexbox;
  -ms-flex-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  background-color: var(--primary-color);
}

h1 {
  color: var(--secondary-color);
}

.centered {
  max-width: 330px;
  width: 100%;
  margin: auto;
}

.center {
  display: block;
  justify-content: center;
  align-items: center;
}

.green-link {
  text-decoration: none;
  color: #00E696;
}

.green-link:hover {
  text-decoration: none;
  color: #00B969;
}

.button {
  background-color: var(--secondary-color);
}

.button:hover {
  background-color: #00B969;
}

@media (min-width: 550px) {
  .centered {
    max-width: 415px;
  }
}